.terraform/*
**/.terraform/*
.terraform*
.terraform/
terraform.tfstate*
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc
*.tfplan
*.backup
crash.log
.infracost/
.infracost*
key-pair.pem
*.pem

# Ignore SSH keys
id_rsa
id_rsa.pub
